<div class="row">
  <div class="col-xs-6">
  	<h2 translate="angular_example"></h2>
  </div>
  <div class="col-xs-2 col-xs-offset-4">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button type="button" class="btn btn-default"
          ng-click="ctrl.getMoreData(1)">
          <span class="glyphicon glyphicon-th-large"></span>
        </button>
        <button type="button" class="btn btn-default"
          ng-click="ctrl.getMoreData(2)">
          <span class="glyphicon glyphicon-th"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th ng-repeat="header in ctrl.tableData.headers track by $index">
        {{header.property | translate}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in ctrl.tableData.values track by $index"
        ng-click="ctrl.gotoDetail(row)">
        <td ng-repeat="cell in row track by $index">
            <span ng-if="ctrl.getColumnConfig($index).type === 'date'">{{::cell|date:'dd.MM.yyyy'}}</span>
            <a ng-href="{{::cell}}"
                ng-if="ctrl.getColumnConfig($index).type !== 'date' && ctrl.getColumnConfig($index).weblink 
                && cell !== ''"
                target="_blank">
                <span translate="OPEN_PAGE"></span>
                <span class="glyphicon glyphicon-new-window"></span>
            </a>
            <span ng-if="ctrl.getColumnConfig($index).type !== 'date' && 
              !(ctrl.getColumnConfig($index).weblink && cell !== '')">{{::cell}}</span>
            <span ng-if="cell === ''"> - </span>
        </td>
    </tr>
  </tbody>
</table>