<div class="jumbotron">
  <h1>Detail</h1>
  <p class="lead">
  	Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, 
  	tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa 
  	justo sit amet risus.
	</p>
	<p>
		Minions ipsum gelatooo bappleees po kass bananaaaa jeje daa. Bappleees daa 
		hana dul sae poopayee potatoooo baboiii. Belloo! me want bananaaa! Tulaliloo 
		jeje bee do bee do bee do hahaha wiiiii. Poopayee hahaha po kass poopayee. 
		Tulaliloo jiji la bodaaa po kass para tú wiiiii. Baboiii bananaaaa daa wiiiii 
		pepete jeje.
	</p>
	<p>
		Tank yuuu! tulaliloo poopayee wiiiii para tú ti aamoo! Poopayee hana dul sae
		jiji tulaliloo tatata bala tu tank yuuu! Baboiii gelatooo gelatooo. Bee do 
		bee do bee do baboiii bananaaaa uuuhhh aaaaaah uuuhhh. Chasy bee do bee do 
		bee do bappleees pepete jeje potatoooo para tú poulet tikka masala uuuhhh. 
		Para tú butt jiji daa. Bananaaaa daa potatoooo jeje. Wiiiii uuuhhh pepete 
		poulet tikka masala. Aaaaaah para tú underweaaar underweaaar po kass uuuhhh 
		gelatooo tatata bala tu po kass.
	</p>
</div>